<div ng-show="launcherAvailableApps && launcherAvailableApps.length > 0">
  <span class="btn-group">
    <button ng-repeat="app in launcherAvailableApps"
            type="button"
            class="btn btn-default btn-sm"
            tooltip="{{app.name}}"
            ng-class="{'active': $parent.launcherRun === app.className}"
            ng-click='$parent.launcherRun=app.className'>
      <i ng-show="!($parent.launcherRun === app.className && launcherShow === 'loading')"
         class="{{app.icon}}">
      </i>
      <i ng-show="$parent.launcherRun === app.className && launcherShow === 'loading'"
         class="fa fa-spinner fa-spin">
      </i>      
    </button>
  </span>
</div>
<div ng-show="!launcherAvailableApps || launcherAvailableApps.length === 0">
  No available apps for the result
</div>

<!-- some margin -->
<div style="height:10px"></div>
