<div ng-show="launcherShow === 'show' && launcherAvailableApps && launcherAvailableApps.length > 0">
  <span class="btn-group">
    <button ng-repeat="app in launcherAvailableApps"
            type="button"
            class="btn btn-default btn-sm"
            tooltip="{{app.name}}"
            ng-click='$parent.launcherRun=app.className'>
        <i class="{{app.icon}}"></i>
    </button>
  </span>
</div>
<div ng-show="launcherShow === 'loading'">
  Loading <i class="fa fa-spinner fa-spin"></i>
</div>
